@media screen and (max-width: 1024px) {
  #hero {
    flex-direction: column;
  }

  .hero-img {
    width: 100%;
    justify-content: center;
  }

  .sahur-img {
    transform: translateX(3.5rem);
  }

  .berbuka-img {
    transform: translateX(0);
  }

  .takjil-img {
    transform: translateX(-3.5rem);
  }

  aside {
    margin-block-start: 1rem;
  }
}

@media screen and (max-width: 768px) {
  header .logo {
    font-size: 1rem;
  }

  .hero-img-container {
    width: 35vw;
    height: 35vw;
  }

  .contact-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .contact-info {
    grid-row: 2;
    padding-block: 1rem;
    border-radius: 0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  .contact-form form {
    grid-row: 1;
    border: .1rem solid var(--color-light-3);
    border-radius: 0;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }
}

@media screen and (max-width: 430px) {
  .arrow {
    opacity: 1;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header .logo {
    display: none;
  }

  header nav ul {
    gap: 0;
    width: 100vw;
    justify-content: space-around;
  }

  .tanggal-container {
    justify-content: center;
  }
}