:root {
  --color-dark-1: rgb(4, 13, 18);
  --color-light-1: rgb(24, 61, 61);
  --color-light-2: rgb(92, 131, 116);
  --color-light-3: rgb(147, 177, 166);
  --color-light-4: hsl(158, 16%, 94%);
  --transition: all .3s ease;
}

/* General Style */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-light-4);
}

::-webkit-scrollbar-thumb {
  background: var(--color-light-3);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-light-2);
}


* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 4rem;
}

body,
button,
input,
textarea,
select {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark-1);
}

button {
  font-size: 1rem;
}

header,
section,
footer,
.divider {
  max-width: 70rem;
  margin: auto;
  padding-inline: 1rem;
}

p {
  color: var(--color-light-2);
}

.arrow {
  background-image: url(./assets/images/arrow.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  right: .5rem;
  top: calc(100% - 4rem);
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0;
  cursor: pointer;
  transition: var(--transition);
}

.arrow:hover {
  filter: opacity(.65);
  top: calc(100% - 4.5rem);
}


.divider {
  border: none;
  border-bottom: .1rem solid var(--color-light-3);
}

/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  border-bottom: .1rem solid var(--color-light-3);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, .75);
  backdrop-filter: blur(.25rem);
  transition: var(--transition);
}

header a {
  text-decoration: none;
  color: var(--color-dark-1);
}

header .logo {
  font-size: 1.25rem;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

header nav ul li a {
  transition: var(--transition);
  text-underline-offset: .5rem;
}

header nav ul li a:hover {
  color: var(--color-light-3);
}

/* Hero Section */
#hero {
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
}

.hero-img {
  display: flex;
  width: 45.5rem;
}

.hero-img-container {
  width: 17.5rem;
  height: 17.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
  border: .1rem solid var(--color-light-3);
  box-sizing: border-box;
}

.hero-img-title {
  margin-block-end: 1rem;
}

.sahur-img {
  background-image: url(./assets/images/sahur.jpg);
}

.berbuka-img {
  background-image: url(./assets/images/berbuka.jpg);
  transform: translateX(-3.5rem);
}

.takjil-img {
  background-image: url(./assets/images/takjil.jpg);
  transform: translateX(-7rem);
}

.hero-text {
  text-align: center;
  margin-block-start: 1rem;
}

.hero-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block-start: 1rem;
}

.btn {
  border: .1rem solid var(--color-dark-1);
  padding: 1rem;
  border-radius: 2rem;
  background-color: #FFF;
  transition: var(--transition);
  cursor: pointer;
}

.btn-left,
.btn-right:hover {
  color: var(--color-light-4);
  background-color: var(--color-dark-1);
}

.btn-left:hover {
  background-color: var(--color-light-1);
}

.btn-right:hover {
  border-color: transparent;
}

/* Aside */
aside {
  border: .1rem solid var(--color-light-3);
  padding: 1rem;
  border-radius: .5rem;
  background-color: var(--color-light-4);
}

aside h3 {
  text-align: center;
  margin-block-end: 1rem;
}

aside img {
  width: 10rem;
  height: 10rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: .5rem;
  float: left;
  margin-inline-end: 1rem;
}

aside p {
  text-align: justify;
}

.tanggal-container {
  display: flex;
}

.ramadhan-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.ramadhan-button {
  text-align: center;
  border-radius: .5rem;
  padding: .5rem;
  background-color: var(--color-light-2);
  color: var(--color-light-4);
  text-decoration: none;
  transition: var(--transition);
}

.ramadhan-button:hover {
  background-color: var(--color-light-3);
}

/* Content Section */
.content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.content-title h1 {
  font-size: 2rem;
  margin-block-end: 1rem;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}

.content-title h1 .expand {
  position: absolute;
  left: -2rem;
  transition: var(--transition);
  opacity: .5;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  overflow: hidden;
  transition: var(--transition);
}

.content-item {
  border: .1rem solid var(--color-light-3);
  border-radius: .5rem;
  padding: 1rem;
  background-color: var(--color-light-4);
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-content: start;
  grid-gap: 1rem;
}

.item-img {
  width: 100%;
  height: 15rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: .5rem;
  border: .1rem solid var(--color-light-3);
}

.item-button {
  border-radius: .5rem;
  padding: .5rem 1rem;
  background-color: var(--color-light-2);
  color: var(--color-light-4);
  text-decoration: none;
  transition: var(--transition);
  width: fit-content;
  place-self: end;
}

.item-button:hover {
  background-color: var(--color-light-3);
}


#sahur .content-container {
  padding-block-end: 1rem;
}

/* Contact Section */
footer {
  margin-block: 1rem;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-light-2);
  color: var(--color-light-4);
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.contact-info * {
  color: var(--color-light-4);
  text-decoration: none;
}

.contact-item {
  display: flex;
  gap: 1rem;
}

.contact-form form {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
  border: .1rem solid var(--color-light-3);
  border-left: none;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  padding: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: .5rem;
  border: .1rem solid var(--color-light-3);
  border-radius: .5rem;
  font-size: 1rem;
  outline: none;
  background-color: var(--color-light-4);
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  padding: .5rem 1rem;
  border: none;
  border-radius: .5rem;
  background-color: var(--color-light-2);
  color: var(--color-light-4);
  transition: var(--transition);
}

.contact-form select {
  background-color: var(--color-light-4);
  padding: .5rem;
  border: .1rem solid var(--color-light-3);
  border-radius: .5rem;
  font-size: 1rem;
  outline: none;
  color: var(--color-light-1);
}